@model autominus2.Models.Advertisement

@{
    ViewBag.Title = Model.Make + " " + Model.Model;
}

<h2>@Model.Make</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<fieldset>
    <div style="width: 100%; overflow: hidden;">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Make, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.ModelYear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.ModelYear, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.BodyType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.BodyType, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.FuelType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.FuelType, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.Gearbox, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Gearbox, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.DoorCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.DoorCount, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.Damage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Damage, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.WheelPosition, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.WheelPosition, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.Mileage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Mileage, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.EngineCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.EngineCapacity, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.Power, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Power, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.Vin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Vin, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.Drivetrain, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Drivetrain, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.SeatCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.SeatCount, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.FirstRegistrationCountry, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.FirstRegistrationCountry, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.Co2Emissions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Co2Emissions, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: left;">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group" style="width: 600px; float: right;">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-offset-4">
                    @Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            @if (autominus2.Utils.OurSession.LoggedInUser != null && autominus2.Utils.OurSession.LoggedInUser.Id == Model.FkId)
            {
                @Html.ActionLink("Redaguoti", "AdEditView", new { id = Model.Id }, new { @class = "btn btn-primary action" })
                @Html.ActionLink("Šalinti", "AdDelete", new { id = Model.Id }, new { @class = "btn btn-danger action" })
            }
            else
            {
                <p></p>
            }
        </div>
    </div>
</fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}