@model IEnumerable<autominus2.Models.ForumQuestionListModel>

@{
    ViewData["Title"] = "ForumQuestion";
}

<table class="table table-striped datatable">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_tekstas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_autorius_id)
                </td>

            </tr>
            @Html.ActionLink("Atsakymai", "ForumQuestionAnswer", new { id = item.temos_id }, new { @class = "btn btn-primary action" })

            @Html.ActionLink("Redaguoti", "EditQuestion", new { id = item.temos_id }, new { @class = "btn btn-primary action" })
        }


    </tbody>

</table>



@*<form>
        <div>
            <button formaction="/Home/ForumQuestionAnswer">Rašyti komentarą</button>

            <button formaction="/Home/Forum">Grįžti į pradinį Forumo puslapį</button>
        </div>
    </form>*@