@model IEnumerable<autominus2.Models.ForumQuestionAnswer>
@{
    ViewData["Title"] = "Atsakymai į temą";
}


<table class="table table-striped datatable">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.atsakymo_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.atsakymo_tekstas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.atsakymo_laikas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.atsakymo_temos_autorius)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.atsakymo_klausimas)
                </td>
            </tr>
        }

    </tbody>

</table>

<div>
    @Html.ActionLink("Atgal į sąrašą", "Forum", "Forum", new { @class = "btn btn-default" })
</div>



@*<form>
        <div>
            Įrašykite savo atsakymą:
            <br>
            <input type="text" style="width:400px;height:200px" name="QuestionAnswer" />
        </div>

        <button formaction="/Home/ForumQuestion">Rašyti atsakymą</button>



    </form>*@