@model IEnumerable<autominus2.Models.ForumQuestionListModel>

@{
    ViewData["Title"] = "Forum";
}

<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightblue">
            <th>
                @Html.DisplayNameFor(model => model.temos_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temos_pavadinimas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temos_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temos_tekstas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temos_autorius_id)
            </th>
            <th style="width: 18%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_tekstas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_autorius_id)
                </td>
                <td>
                    @Html.ActionLink("Peržiūrėti", "ForumQuestion", new { id = item.temos_id }, new { @class = "btn btn-primary action" })

                </td>
            </tr>
        }
    </tbody>

</table>
<form>
    @if (autominus2.Utils.OurSession.LoggedInUser != null && autominus2.Utils.OurSession.LoggedInUser.Restrictions <= 1)
    {
        <button formaction="/Home/NewForumQuestion">Pridėti temą</button>
    }
    <button formaction="/Home/ForumArchives">Archyvai</button>
</form>
