@model IEnumerable<autominus2.Models.ForumQuestionListModel>

@{
    ViewData["Title"] = "ForumQuestion";
}

<table class="table table-striped datatable">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_tekstas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temos_autorius_id)
                </td>

            </tr>

        }


    </tbody>

</table>
<form>
        <div>

            <button formaction="/Home/ForumArchives">Grįžti į archyvus</button>
        </div>
    </form>