@{
    ViewData["Title"] = "Apklausa";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Strawpoll API</p>
<div class="form-group text-center">
    <form method="POST" action="StrawpollAnsw">
        <div class="col-md-6">

            <input type="text" name="lastCreatedQuestion" readonly="readonly" value="@autominus2.Utils.ModeratorRepo.getPoll().Question" />

            <br />
            <div class="col-md-6">
                <input type="text" name="lastCreatedQuestionA1" readonly="readonly" value="@autominus2.Utils.ModeratorRepo.getPoll().Answer1" />

                <input type="text" name="lastCreatedQuestionA1" readonly="readonly" value="@autominus2.Utils.ModeratorRepo.getPoll().count1" />
            </div><div class="col-md-6">
    <input type="text" name="lastCreatedQuestionA1" readonly="readonly" value="@autominus2.Utils.ModeratorRepo.getPoll().Answer2" />

    <input type="text" name="lastCreatedQuestionA1" readonly="readonly" value="@autominus2.Utils.ModeratorRepo.getPoll().count2" />
</div>
    @*Arba
        <br />
        <form>
            <button formaction="/Home/Register">Registruotis</button>
        </form>*@

</div>

        </div>
<div class="form-group text-center">
    <form method="POST" action="Strawpoll1">
        <div class="col-md-10">
            <th>Jūsų klausimas:</th>
            <br />
            <input type="text" name="StrawPollQuestion" />
        </div>

        <div class="col-md-10">
            <th>Atsakymas 1:</th>
            <br />
            <input type="text" name="StrawPollAnswer1" />
        </div>

        <div class="col-md-10">
            <th>Atsakymas 2:</th>
            <br />
            <input type="text" name="StrawPollAnswer2" />
        </div>

        <div class="col-md-10">
            <br />

            <button>Sukurti</button>
    </form>

    <br />
    @*Arba
        <br />
        <form>
            <button formaction="/Home/Register">Registruotis</button>
        </form>*@

</div>
</div>
<br />